/**========================================================
    RESPONSIVE CSS

    Created: April 6, 2015

    Browsers supported: IE8+, Chrome35+, Firefox34+

    Known limitations:
    - tbd

    CONTENTS
        1 - GENERAL 
        2 - ??
        3 - TYPE
        4 - HEADER
        5 - CONTENT
        6 - BUTTON
        7 - FOOTER
        8 - MEDIA QUERIES

========================================================**/

/**========================================================
    1 - GENERAL 
========================================================**/

body {
    margin: 0;
    padding: 0;
    background: #7da398;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, Calibri, sans-serif;
    font-size: .9em;
    color: #444;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #fff;
}

/* clearfix from: http://css-tricks.com/snippets/css/clear-fix/ 
   Good for IE8 and above */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/**========================================================
    ?? - HEADER 
========================================================**/

header {
    width: 100%;
    background: #ddd0be;
}
