/**========================================================
    RESPONSIVE CSS

    Created: April 6, 2015

    Browsers supported: IE8+, Chrome35+, Firefox34+

    Known limitations:
    - tbd

    CONTENTS
        1 - GENERAL 
        2 - ??
        3 - TYPE
        4 - HEADER
        5 - CONTENT
        6 - BUTTON
        7 - FOOTER
        8 - MEDIA QUERIES

========================================================**/

/**========================================================
    1 - GENERAL 
========================================================**/

body {
    margin: 0;
    padding: 0;
    background: #7da398;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, Calibri, sans-serif;
    font-size: .9em;
    color: #444;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #fff;
}

/* clearfix from: http://css-tricks.com/snippets/css/clear-fix/ 
   Good for IE8 and above */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

h2 {
    color: #67655e;
}

.hide {
    display: none;
}

.inline {
    display: inline-block;
}

.extra-margin-bottom {
    margin-bottom: 1rem;
}

.extra-margin-top {
    margin-top: 1.1rem;
}

.extra-margin-left {
    margin-left: 1rem;
}

.thin-border {
    border: 1px solid #222;
}

.shadow {
    -webkit-box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.44);
    box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.44);
}

.wide24 {
    width: 24px;
    text-align: center;
}

/**========================================================
    ?? - HEADER 
========================================================**/

header {
    width: 100%;
    background: #ddd0be url(../img/fabric_plaid-tan.png) repeat-x;
    z-index: 100;
}

header p {
    padding: 3px;
    margin: 1px;
}

.name {
    color: #7da398;
    font-family: 'Lobster Two', cursive;
    font-size: 28px;
    text-align: center;
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: 0px;

}

.title {
    color: #67655e;
    font-family: 'Lobster Two', cursive;
    font-size: 16px;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0 0 5px 0;
}

#header-primary {
    width: 100%;
    display: inline-block;
}

#header-secondary {
    width: 50%;
    text-align: right;
    display: none;
}

/**========================================================
    ?? - ANCHOR 
========================================================**/

a, a:focus, a:visited, a:active {
  text-decoration: none;
  color: inherit;
  border: none;
}

a:hover {
 text-decoration: none;
 color: #94221c;
 border: none;
}
/**========================================================
    ?? - NAVIGATION 
========================================================**/

nav {
    display: inline-block; 
    margin: 0px;
    background: #67655e;
    width: 17%;
    height: 100%;
    min-height: 100%;
    vertical-align: top;
    text-align: center;
}

.nav-icon {
    width: 40px;
    text-align: center;
}

.nav-text {
    padding-right: 5px;
}

nav ul {
    list-style: none;
    padding-left: 0;
}

nav a, nav a:hover, nav a:focus, nav a:visited {
    color: #fff;
}

nav a {
    text-decoration: none;
    background-color: #7da398; 
    vertical-align: middle;
    line-height: 30px;
    display: inline-block;
    -webkit-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.44);
    box-shadow: 0px 3px 5px 3px rgba(0,0,0,0.44);
}

nav a:hover {
    background-color: #49675e; 
}

nav li {
    margin-bottom: 10px;
}

nav li a span:hover {
    cursor: pointer; 
}

/**========================================================
    ?? - CONTENT 
========================================================**/

.resume {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: #c7d7d2;
}

#content {
    margin: 0px 5px;
    display: inline-block;
    width: 76%;
}

section {
    clear: left;
}

/**========================================================
    ?? - FOOTER 
========================================================**/

footer {
    background-color: #67655e;
    color: #ccc;
}

footer p {
    padding: 5px;
    margin: 0;
}

/**========================================================
    ?? - MEDIA QUERIES 
========================================================**/

@media only screen and (min-width: 500px) {
    nav {
        width: 12%;
    }

    #content {
        width: 81%;
    }

}

@media only screen and (min-width: 800px) {
    #header-secondary {
        display: inline-block;
    }

    #header-primary {
        width: 48%;
        text-align: left;
    }

    nav {
        width: 8%;
    }

    #content {
        width: 85%;
    }

    .name, .title {
        text-align: left;
        padding-left: 10px;
    }

}